.item-container-browser {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-container-mobile {
    display: flex;
    flex-direction: column;
}


.body-container-browser {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns:auto auto auto;
    justify-content: space-around;
    position: relative;
    
}

.body-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 50px;
}



.chapters-container-browser{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
}

.chapters-container-mobile{
    height: 55%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter-list-item {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}